network:
    namespaces: [{name: Internal}, {name: External}]
    interfaces: [{dev: eth1, dns1: "", dns2: "", dns3: "", gateway: 192.168.1.1, ipaddr: 192.168.1.144, namespace: Internal, prefix: '24', vlan: 0}, {dhcp: no, dns1: "", dns2: "", dns3: "", namespace: External, dev: eth2, ipaddr: 192.168.123.243, prefix: '24', gateway: 192.168.123.1, vlan: 0}]
    nuagenetwork: Internal
vrrp: null
proxy:
    - {interface: eth1.0, role: nsgbootstrap, enabled: false, firewallports: [], settings: {cport: "", bport: "", ccert: ""}}
    - {interface: eth1.0, role: vsdconfig, enabled: false, firewallports: [], settings: {uiport: "", apiport: "", xmppport: "", jmsport: "", geo: false}}
    - {interface: eth1.0, role: nsgstats, enabled: false, firewallports: [], settings: {cport: "", ccert: ""}}
    - {interface: eth1.0, role: webfilter, enabled: false, firewallports: [], settings: {protobufport: "", downloadport: "", ccert: ""}}
    - {interface: eth1.0, role: elasticsearch, enabled: false, firewallports: [], settings: {elasticsearch: ""}}
    - {interface: eth1.0, role: sdWanPortal, enabled: false, firewallports: [], settings: {httpPort: "", httpsPort: "", ccert: ""}}
    - {interface: eth1.0, role: fileserver, enabled: false, firewallports: [], settings: {port: "", ccert: ""}}
    - {interface: eth2.0, role: nsgbootstrap, enabled: false, firewallports: [], settings: {cport: "", bport: "", ccert: ""}}
    - {interface: eth2.0, role: vsdconfig, enabled: false, firewallports: [], settings: {uiport: "", apiport: "", xmppport: "", jmsport: "", geo: false}}
    - {interface: eth2.0, role: nsgstats, enabled: false, firewallports: [], settings: {cport: "", ccert: ""}}
    - {interface: eth2.0, role: webfilter, enabled: false, firewallports: [], settings: {protobufport: "", downloadport: "", ccert: ""}}
    - {interface: eth2.0, role: elasticsearch, enabled: false, firewallports: [], settings: {elasticsearch: ""}}
    - {interface: eth2.0, role: sdWanPortal, enabled: false, firewallports: [], settings: {httpPort: "", httpsPort: "", ccert: ""}}
    - {interface: eth2.0, role: fileserver, enabled: false, firewallports: [], settings: {port: "", ccert: ""}}
servers:
    vsd1: 192.168.1.111
    vsd2: 192.168.1.112
    vsd3: 192.168.1.113
    es1: 192.168.1.131
    es2: 192.168.1.132
    es3: 192.168.1.133
na:
    vsd: {sleepTimer: 2000, socketTimeout: 60000}
    notificationHandlers: []
