network:
    namespaces:
      - name: Internal
{% if external_interfaces is defined %}
{% for interface in external_interfaces %}
      - name: "External{{ loop.index }}"
{% endfor %}
{% endif %}
    interfaces:
      - dev: eth1
        dns1: ''
        dns2: ''
        dns3: ''
        gateway: {{ internal_gateway }}
        ipaddr: {{ internal_ip }}
{% if nuh_sa_or_ha is match('ha') %}
{% if inventory_hostname == groups['nuhs'][0] %}
        peeripaddr: {{ hostvars[groups['nuhs'][1]].internal_ip }}
        peerprefix: {{ internal_prefix }}
{% else %}
        peeripaddr: {{ hostvars[groups['nuhs'][0]].internal_ip }}
        peerprefix: {{ internal_prefix }}
{% endif %}
{% endif %}
        namespace: Internal
        prefix: {{ internal_prefix }}
        vlan: 0
{% if external_interfaces is defined %}
{% for interface in external_interfaces %}
      - dhcp: 'no'
        dns1: ''
        dns2: ''
        dns3: ''
        namespace: "External{{ loop.index }}"
        dev: eth2
        ipaddr: {{ interface.external_ip }}
        prefix: {{ interface.external_prefix }}
        gateway: {{ interface.external_gateway }}
        vlan: {{ interface.vlan }}
{% endfor %}
{% endif %}
    nuagenetwork: Internal
vrrp: null
proxy:
    - {interface: eth1.0, role: nsgbootstrap, enabled: false, firewallports: [], settings: {cport: "", bport: "", ccert: ""}}
    - {interface: eth1.0, role: vsdconfig, enabled: false, firewallports: [], settings: {uiport: "", apiport: "", xmppport: "", jmsport: "", geo: false}}
    - {interface: eth1.0, role: nsgstats, enabled: false, firewallports: [], settings: {cport: "", ccert: ""}}
    - {interface: eth1.0, role: webfilter, enabled: false, firewallports: [], settings: {protobufport: "", downloadport: "", ccert: ""}}
    - {interface: eth1.0, role: elasticsearch, enabled: false, firewallports: [], settings: {elasticsearch: ""}}
    - {interface: eth1.0, role: sdWanPortal, enabled: false, firewallports: [], settings: {httpPort: "", httpsPort: "", ccert: ""}}
    - {interface: eth1.0, role: fileserver, enabled: false, firewallports: [], settings: {port: "", ccert: ""}}
{% if external_interfaces is defined %}
{% for interface in external_interfaces %}
    - {interface: eth2.{{ interface.vlan }}, role: nsgbootstrap, enabled: false, firewallports: [], settings: {cport: "", bport: "", ccert: ""}}
    - {interface: eth2.{{ interface.vlan }}, role: vsdconfig, enabled: false, firewallports: [], settings: {uiport: "", apiport: "", xmppport: "", jmsport: "", geo: false}}
    - {interface: eth2.{{ interface.vlan }}, role: nsgstats, enabled: false, firewallports: [], settings: {cport: "", ccert: ""}}
    - {interface: eth2.{{ interface.vlan }}, role: webfilter, enabled: false, firewallports: [], settings: {protobufport: "", downloadport: "", ccert: ""}}
    - {interface: eth2.{{ interface.vlan }}, role: elasticsearch, enabled: false, firewallports: [], settings: {elasticsearch: ""}}
    - {interface: eth2.{{ interface.vlan }}, role: sdWanPortal, enabled: false, firewallports: [], settings: {httpPort: "", httpsPort: "", ccert: ""}}
    - {interface: eth2.{{ interface.vlan }}, role: fileserver, enabled: false, firewallports: [], settings: {port: "", ccert: ""}}
{% endfor %}
{% endif %}
servers:
{% if vsd_sa_or_ha is match('ha') %}
    vsd1: {{ hostvars[groups['vsd_ha_node1'][0]].mgmt_ip }}
    vsd2: {{ hostvars[groups['vsd_ha_node2'][0]].mgmt_ip  }}
    vsd3: {{ hostvars[groups['vsd_ha_node3'][0]].mgmt_ip  }}
{% endif %}
{% if vsd_sa_or_ha is match('sa') %}
    vsd1: {{ hostvars[groups['vsd_sa_node'][0]]['mgmt_ip'] }}
{% endif %}
na:
    vsd: {sleepTimer: 2000, socketTimeout: 60000}
    notificationHandlers: []
