network:
    namespaces: [{name: Internal}, {name: Internet}, {name: MPLS1}]
    interfaces: [{dev: eth1, dns1: 100.70.2.10, dns2: 100.70.3.10, dns3: "", gateway: 100.70.0.3, ipaddr: 100.70.0.181, namespace: Internal, prefix: '24', vlan: 0, domain: nuage.local, ipv6: null, peeripaddr: 100.70.0.182, peerprefix: '24', peeripv6: null, gateway6: null, ntpserver: '100.127.255.10'}, {dhcp: no, domain: {{ portal_fqdn_global }}, dns1: 8.8.8.8, dns2: "", dns3: "", dev: eth2, vlan: 200, namespace: Internet, ipaddr: 100.64.200.181, prefix: '24', ipv6: null, peeripaddr: 100.64.200.182, peerprefix: '24', peeripv6: null, gateway: 100.64.200.3, gateway6: null, dns: none, uct: yes}, {dhcp: no, domain: {{ portal_fqdn_global }}, dns1: "", dns2: "", dns3: "", namespace: MPLS1, dev: eth2, vlan: 201, uct: yes, dns: current, ipaddr: 100.64.201.181, prefix: '24', ipv6: null, peeripaddr: 100.64.201.182, peerprefix: '24', peeripv6: null, gateway: 100.64.201.3, gateway6: null}]
    nuagenetwork: Internal
    ssh: []
vrrp:
    - {router_id: 100, interface: eth1.0, vip: [100.70.0.183], enabled: true, meta: {ns: Internal}}
    - {router_id: 200, interface: eth2.200, vip: [ {{ nuh_customer_internet_ip }} ], enabled: true, meta: {ns: Internet}}
    - {router_id: 201, interface: eth2.201, vip: [ {{ nuh_customer_mpls_ip }} ], enabled: true, meta: {ns: MPLS1}}
proxy:
    - {interface: eth2.200, role: nsgbootstrap, enabled: true, firewallports: ['11443', '12443'], settings: {cport: '11443', bport: '12443', ccert: proxy, precert: proxy-pre, postcert: proxy-post}}
    - {interface: eth2.200, role: fileserver, enabled: true, firewallports: ['8008'], settings: {port: '8008', ccert: proxy}}
    - {interface: eth2.200, role: sdWanPortal, enabled: true, firewallports: ['443'], settings: {httpPort: "", httpsPort: '443', ccert: "", httpsEnabled: yes, terminate: null}}
    - {interface: eth2.200, role: nsgstats, enabled: true, firewallports: ['39090'], settings: {cport: '39090', ccert: proxy}}
    - {interface: eth2.200, role: webfilter, enabled: true, firewallports: ['9090', '8080'], settings: {protobufport: '9090', downloadport: '8080', ccert: proxy}}
    - {interface: eth2.200, role: threatprevention, enabled: true, firewallports: ['8443', '13080', '13022', '13514'], settings: {sshport: '13022', syslogport: '13514', feedserverport: '13080', restport: '8443', ccert: proxy}}
    - {interface: eth1.0, role: threatprevention, enabled: true, firewallports: ['8444', '13080', '13022', '13514'], settings: {sshport: '13022', syslogport: '13514', feedserverport: '13080', restport: '8444', ccert: proxy}}
    - {interface: eth1.0, role: elasticsearch, enabled: true, firewallports: ['9200', '6200'], settings: {httpEnabled: yes, elasticsearch: '9200', httpsEnabled: yes, httpsPort: '6200', ccert: proxy, terminate: yes}}
    - {interface: eth1.0, role: vsdconfig, enabled: true, firewallports: ['8443', '9443', '61616', '5222', '7443'], settings: {uiport: '8443', apiport: '9443', xmppport: '5222', jmsport: '61616', certport: '7443', geo: false, terminate: yes, ccert: proxy}}
    - {interface: eth2.200, role: vsdconfig, enabled: true, firewallports: ['8445', '9443', "", "", '7443'], settings: {uiport: '8445', apiport: '9443', xmppport: "", jmsport: "", certport: '7443', geo: false, terminate: yes, ccert: proxy}}
    - {interface: eth2.201, role: nsgbootstrap, enabled: true, firewallports: ['11443', '12443'], settings: {cport: '11443', bport: '12443', ccert: proxy, precert: proxy-pre, postcert: proxy-post}}
    - {interface: eth2.201, role: nsgstats, enabled: true, firewallports: ['39090'], settings: {cport: '39090', ccert: proxy}}
    - {interface: eth2.201, role: webfilter, enabled: true, firewallports: ['9090', '8080'], settings: {protobufport: '9090', downloadport: '8080', ccert: proxy}}
    - {interface: eth2.201, role: fileserver, enabled: true, firewallports: ['8008'], settings: {port: '8008', ccert: proxy}}
    - {interface: eth2.201, role: threatprevention, enabled: true, firewallports: ['8443', '13080', '13022', '13514'], settings: {sshport: '13022', syslogport: '13514', feedserverport: '13080', restport: '8443', ccert: proxy}}
servers:
    vsd1: 100.70.1.20
    vsd2: 100.70.2.20
    vsd3: 100.70.3.20
    es3: 100.70.3.42
    es2: 100.70.2.42
    es4: 100.70.1.43
    es5: 100.70.2.43
    es6: 100.70.3.43
    es1: 100.70.1.42
na:
{% if vsd_auth is defined %}
    vsd: 
      sleepTimer: 2000
      socketTimeout: 60000
      password: {{ vsd_auth.password }}
      useJmsForEvents: false
{% if notification_app1 is defined %}
      useXmppForEvents: true
{% else %}
      useXmppForEvents: false
{% endif %}
      username: {{ vsd_auth.username }}
      enterprise: {{ vsd_auth.enterprise }}
{% endif %}
    notificationHandlers: [{notificationType: NOTIFY_NSG_REGISTRATION, transport: smtp, contentTemplateLanguage: en, contentType: 'text/html; charset=UTF-8', contentTemplateFile: NOTIFY_NSG_REGISTRATION.html, from: {name: 'Nuage Networks', address: hosted@nuagenetworks.net}, to: {name: '${message.installer.firstName} ${message.installer.lastName}', address: '${message.installer.email}'}, subject: 'Network Services Gateway Activation for ${message.gateway.name}'}, {notificationType: NOTIFY_NSG_TWO_FACTOR, transport: twilio, from: {address: '+16502578856'}, to: {address: '${message.installer.mobileNumber}'}, content: 'Your Enrollment Code for ${message.gateway.name} is ${message.code}'}]
{% if notification_app1 is defined %}
    xmpp:
      user:
        primary: {{ notification_app1.username }}
{% if notification_app2 is defined %}
        secondary: {{ notification_app2.username }}
{% endif %}
      password:
        primary: {{ notification_app1.password }}
{% if notification_app2 is defined %}
        secondary: {{ notification_app2.password }}
{% endif %}
      service: {{ vsd_fqdn }}
{% endif %}
    smtp: 
      host: {{ portal1.smtp_fqdn }}
      password: {{ smtp_auth_password }}
      user: {{ smtp_auth_username }}
      port: '587'
      plain: false
      ssl: false
      tls: true
    twilio: 
      accountSid: {{ twilio_acc_id }}
      authToken: {{ twilio_auth_token }}
geo:
    site: a
    active: yes
proxybackends: []
webfiltervms:
    - 100.70.1.30
    - 100.70.2.30
tpms:
    - 100.70.1.25
    - 100.70.2.25
    - 100.70.3.25
sdwanportal:
    - 100.70.1.32
    - 100.70.2.32
    - 100.70.3.32
nsgstats:
    - 100.70.1.40
    - 100.70.2.40
    - 100.70.3.40
feedservers:
    - {address: update3.clavister.com, port: '80'}
