{% if sdwan_portal_secure == True %}
vns_logout_url=https://{{ portal_fqdn_global }}/
vnsportal_redirect_uri=https://{{ portal_fqdn_global }}/

{% else %}
vns_logout_url=http://{{ portal_fqdn_global }}/
vnsportal_redirect_uri=http://{{ portal_fqdn_global }}/
{% endif %}

vsd_host={{ vsd_fqdn }}
vsd_root_username={{ portal_auth.username }}
vsd_root_password={{ portal_auth.password }}
vsd_root_org={{ vsd_auth.enterprise }}
spring_data_jest_uri=http://{{ vstat_fqdn_global }}:9200
password_reset_sender_address={{ password_reset_email }}
new_account_sender_address={{ new_account_email }}
forgot_password_sender_address={{ forgot_password_email }}
servlet_session_secure={{ sdwan_portal_secure }}
{% if smtp_fqdn is defined %}
smtp_host={{ smtp_fqdn }}
{% endif %}
{% if smtp_port is defined %}
smtp_port={{ smtp_port }}
{% endif %}
{% if smtp_secure is defined %}
smtp_secureConnection={{ smtp_secure }}
{% endif %}
{% if smtp_user is defined %}
smtp_user={{ smtp_user }}
{% endif %}
{% if smtp_password is defined %}
smtp_password={{ smtp_password }}
{% endif %}
OVERWRITE_ALL=1
