vns_logout_url=http://{{ portal_fqdn_global }}
vnsportal_redirect_uri=http://{{ portal_fqdn_global }}
sdwanportal.redirect.uri=http://{{ portal_fqdn_global }}:8989
sdwanportal.auth.redirect.uri=http://{{ portal_fqdn_global }}:8979
vsd_host={{ vsd_fqdn }}
vsd_root_username={{ vsd_auth_username }}
vsd_root_password={{ vsd_auth_password }}
vsd_root_org={{ vsd_auth_enterprise }}
spring_data_jest_uri=http://{{ vstats_ip }}:9200
password_reset_sender_address={{ password_reset_email }}
new_account_sender_address={{ new_account_email }}
forgot_password_sender_address={{ forgot_password_email }}
servlet_session_secure={{ sdwan_portal_secure }}
smtp_host={{ smtp_fqdn }}
smtp_port={{ smtp_port }}
smtp_secureConnection={{ smtp_secure }}
smtp_user={{ smtp_user }}
smtp_password={{ smtp_password }}
OVERWRITE_ALL=1
