[server] 
bind-address=0.0.0.0 
binlog_format=row 
default_storage_engine=InnoDB 
innodb_autoinc_lock_mode=2 
innodb_locks_unsafe_for_binlog=1 
query_cache_size=0 
query_cache_type=0 

[galera] 
wsrep_on=ON 
wsrep_provider="/usr/lib/galera/libgalera_smm.so" 
wsrep_cluster_address="gcomm://{{ portal1_ip }},{{ portal2_ip }},{{ portal3_ip }}" 
wsrep-sst-method=rsync
