interface=mgmt
no-dhcp-interface=mgmt
domain=example.com
srv-host=_xmpp-client._tcp.xmpp.example.com,{{ inventory_hostname }}-vsd1.example.com,5222,10,0
srv-host=_xmpp-client._tcp.xmpp.example.com,{{ inventory_hostname }}-vsd2.example.com,5222,10,0
srv-host=_xmpp-client._tcp.xmpp.example.com,{{ inventory_hostname }}-vsd3.example.com,5222,10,0
conf-dir=/etc/dnsmasq.d
