[defaults]
log_path = ./ansible.log
host_key_checking = False
hash_behaviour = merge
retry_files_enabled = False
callback_whitelist = report_failures
callback_plugins = ./callback_plugins/
filter_plugins = ./filter_plugins/
library = ./library/
roles_path = ./roles/
display_skipped_hosts = False

[persistent_connection]
connect_timeout = 10

[ssh_connection]
retries=1
