[defaults]
log_path = ./ansible.log
host_key_checking = False
hash_behaviour = merge
retry_files_enabled = False
callback_whitelist = report_failures
callback_plugins = ./src/callback_plugins/
filter_plugins = ./src/filter_plugins/
library = ./src/library/
roles_path = ./src/roles/
inventory = ./src/inventory/hosts
display_skipped_hosts = False

[persistent_connection]
connect_timeout = 100

[ssh_connection]
pipelining = True
retries=1
