[defaults]
log_path = ./ansible.log
host_key_checking = False
hash_behaviour = merge
retry_files_enabled = False
callback_plugins = ./playbooks/callback_plugins
callback_whitelist = report_failures
task_includes_static = False
sudo_flags = -H -S
library = ./playbooks/library
