idna==2.9
urllib3==1.25.9
stevedore==2.0.1
cryptography==3.2
keystoneauth1==4.0.0
shade==1.30.0
setuptools==44.1.0
openstacksdk==0.22.0
wheel==0.34.2
zipp==1.2
importlib-metadata==3.7.3
os-client-config==2.0.0
python-openstackclient==3.18.0
jsonschema==2.6.0
