idna==2.9
urllib3==1.26.5
stevedore==1.32.0
cryptography==3.3.2
keystoneauth1==4.0.0
shade==1.30.0
setuptools==44.1.0
decorator==4.4.2
openstacksdk==0.22.0
wheel==0.34.2
zipp==1.2
importlib-metadata==2.1.1
python-openstackclient==3.18.0
jsonschema==2.6.0
