heat_template_version: '2014-10-16'
parameters:
  vm_name:
    type: string
  nsgv_image:
    type: string
  nsgv_uplink1_network:
    type: string
  nsgv_uplink1_subnet:
    type: string
  nsgv_uplink2_network:
    type: string
  nsgv_access_network:
    type: string
  nsgv_flavor:
    type: string
  uplink1_ip:
    type: string
  availability_zone:
    type: string

resources:
  uplink1_port:
    type: OS::Neutron::Port
    properties:
      network_id: {get_param: nsgv_uplink1_network}
      fixed_ips: [{"subnet": {get_param: nsgv_uplink1_subnet}, "ip_address": {get_param: uplink1_ip}}]
{% if openstack_port_name is defined %}
      name: {{ openstack_port_name }}
{% endif %}
{% if openstack_port_security_groups is defined %}
      security_groups: ["{{ openstack_port_security_groups | join('", "') }}"]
{% endif %}

  mycompute:
    type: OS::Nova::Server
    properties:
      availability_zone: {get_param: availability_zone}
      name: {get_param: vm_name}
      flavor: {get_param: nsgv_flavor}
      image: {get_param: nsgv_image}
      networks:
        - port: {get_resource: uplink1_port}
        - network: {get_param: nsgv_uplink2_network}
        - network: {get_param: nsgv_access_network}
outputs:
  server_ip:
    description: mgmt ip assigned to nsgv
    value: { get_attr: [mycompute, networks, {get_param: nsgv_uplink1_network}, 0]}
