DEVICE="eth0"
IPV6INIT="no"
NM_CONTROLLED="no"
ONBOOT="yes"
TYPE="Ethernet"
BOOTPROTO="static"
IPADDR="{{ mgmt_ip }}"
GATEWAY="{{ mgmt_gateway }}"
PREFIX="{{ mgmt_prefix }}"
DNS1="{{dns_server_list[0]}}"
{% if dns_server_list[1] is defined %}
DNS2="{{dns_server_list[1]}}"
{% endif %}
