DEVICE="eth0"
NM_CONTROLLED="no"
{% if node_disabled_interface | default(False) %}
ONBOOT="no"
{% else %}
ONBOOT="yes"
{% endif %}
TYPE="Ethernet"
BOOTPROTO="static"
{% if enable_ipv6 | default(False) %}
IPV6INIT="yes"
IPV6ADDR="{{ mgmt_ip }}/{{ mgmt_prefix }}"
IPV6_DEFAULTGW="{{ mgmt_gateway }}"
{% else %}
IPV6INIT="no"
IPADDR="{{ mgmt_ip }}"
PREFIX="{{ mgmt_prefix }}"
GATEWAY="{{ mgmt_gateway }}"
{% endif %}
DNS1="{{dns_server_list[0]}}"
{% if dns_server_list[1] is defined %}
DNS2="{{dns_server_list[1]}}"
{% endif %}
DOMAIN="{{ dns_domain }}"
