DEVICE="br1"
IPV6INIT="yes"
NM_CONTROLLED="no"
ONBOOT="yes"
TYPE="Bridge"
BOOTPROTO="static"
IPADDR="{{ data_ip }}"
{% if data_prefix is defined %}
PREFIX="{{ data_prefix }}"
{% else %}
NETMASK="{{ data_netmask }}"
{% endif %}
