[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7 Server
baseurl=http://mirrors.mv.nuagenetworks.net/rhel-7.2/rhel-7-server-rpms
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[rhel-7-server-extra-rpms]
name=Red Hat Enterprise Linux 7 Server - Extras
baseurl=http://mirrors.mv.nuagenetworks.net/rhel-7.2/rhel-7-server-extras-rpms
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[rhel-7-server-rh-common-rpms]
name=Red Hat Enterprise Linux  - RH Common
baseurl=http://mirrors.mv.nuagenetworks.net/rhel-7-server-rh-common-rpms
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[rhel-7-server-openstack-{{ os_release_num }}-rpms]
name=Red Hat OpenStack Platform {{ os_release_num }} for RHEL
baseurl=http://mirrors.mv.nuagenetworks.net/rhel-7-server-openstack-{{ os_release_num }}-rpms
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

