exit all
configure

#--------------------------------------------------
echo "System Configuration"
#--------------------------------------------------
    system
        name {{ inventory_hostname_short }}
        time
            ntp
            {% for ntp_server in nuage.ntp_server_list %}
                server {{ ntp_server }}
            {% endfor %}
                no shutdown
            exit
        exit
    exit
#--------------------------------------------------
#echo "System Security Configuration"
#--------------------------------------------------
    system
        security
            tls-profile "vns-tls-profile" create
                shutdown
            exit
        exit
    exit
#--------------------------------------------------
echo "Virtual Switch Controller Configuration"
#--------------------------------------------------
    vswitch-controller
        xmpp-server "{{ inventory_hostname_short }}@{{ (nuage.vsds|count == 1) | ternary('vsd','xmpp') + '.' + nuage.domain }}"
    exit

#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router
        interface "control"
        {% if nuage.networks['data'].netmask is defined %}
            address {{ ( control_ip + '/' + nuage.networks['data'].netmask ) | ipaddr() }}
            no shutdown
        {% endif %}
        exit
        interface "system"
        {% if vm.system_ip is defined %}
            address {{ vm.system_ip }}/32
            no shutdown
        {% else %}
            shutdown
        {% endif %}
        exit
        autonomous-system {{ as_number }}
        
        router-id {{ vm.system_ip | default(control_ip) }}
#--------------------------------------------------
##echo "Static Route Configuration"
###--------------------------------------------------
       
#--------------------------------------------------
##echo "BGP Configuration"
###--------------------------------------------------
        bgp
            connect-retry 2
            min-route-advertisement 1
            rapid-withdrawal
            rapid-update evpn
            outbound-route-filtering
                extended-community
                    send-orf
                exit
            exit
            group "internal"
                type internal
                {% for vsc_item in groups['vscs'] %}
                  {% if vsc_item != inventory_hostname %}
                neighbor {{ hostvars[vsc_item].control_ip }}
                exit
                  {% endif %}
                {% endfor %}
                family evpn
            exit
        exit
    exit
exit
exit all
