# Component Credentials
{% if item.target_server_type is defined and item.target_server_type is match("kvm") and (creds is defined and creds !=  "") %}
target_server_username: {{ creds.target_server_username | default(encrypted.target_server_username) | indent(8, False) }}

{% if creds.target_server_password is defined %}
target_server_password: {{ creds.target_server_password | indent(8, False) }}
{% endif %}
{% endif %}

# Custom compute username and password
{% if (creds is defined and creds !=  "") and (creds.compute_username is defined or creds.target_server_username is defined) %}
compute_username: "{{ creds.compute_username | default(creds.target_server_username) }}"
{% endif %}
{% if (creds is defined and creds !=  "") and creds.compute_password is defined %}
compute_password: {{ creds.compute_password | indent(8, False) }}
{% endif %}

{% if item.target_server_type is defined and item.target_server_type is match("vcenter") %}

vcenter:
{% if (creds is defined and creds !=  "") %}
  username: {{ creds.vcenter_username | default(encrypted.vcenter_username) | indent(8, False) }}
  password: {{ creds.vcenter_password | default(encrypted.vcenter_password) | indent(8, False) }}
{% else %}
  username: {{ encrypted.vcenter_username | indent(8, False) }}
  password: {{ encrypted.vcenter_password | indent(8, False) }}
{% endif %}
  datacenter: {{ item.vcenter_datacenter | default( common.vcenter_datacenter ) }}
  cluster: {{ item.vcenter_cluster | default( common.vcenter_cluster ) }}
  datastore: {{ item.vcenter_datastore | default( common.vcenter_datastore ) }}
  disk_mode: {{ item.vcenter_disk_mode | default('thin') }}
  resource_pool: {{ item.vcenter_resource_pool | default(common.vcenter_resource_pool | default('NONE')) }}
  host_reference: {{ item.vcenter_host_reference | default(common.vcenter_host_reference | default('NONE')) }}
  host_clusters_folder: {{ item.vcenter_host_clusters_folder | default(common.vcenter_host_clusters_folder | default('NONE')) }}
{% if (common.vcenter_vmfolder is defined or item.vcenter_vmfolder is defined) %}
  vmfolder: {{ item.vcenter_vmfolder | default(common.vcenter_vmfolder) }}
{% endif %}

{% endif %}

{% if item.target_server_type is defined and item.target_server_type is match("aws") %}
{% if (creds is defined and creds !=  "") and creds.aws_access_key is defined %}
aws_access_key: {{ creds.aws_access_key | indent(8, False) }}
{% endif %}
{% if (creds is defined and creds !=  "") and creds.aws_secret_key is defined %}
aws_secret_key: {{ creds.aws_secret_key | indent(8, False) }}
{% endif %}
aws_region: "{{ item.aws_region }}"
aws_ami_id: "{{ item.aws_ami_id }}"
{% if item.aws_upgrade_ami_id is defined %}
aws_upgrade_ami_id: "{{ item.aws_upgrade_ami_id }}"
{% endif %}
aws_instance_type: "{{ item.aws_instance_type | default('m4.large') }}"
{% if item.aws_key_name is defined %}
aws_key_name: "{{ item.aws_key_name }}"
{% endif %}
{% if item.aws_mgmt_eni is defined %}
aws_mgmt_eni: "{{ item.aws_mgmt_eni }}"
{% endif %}

{% endif %}

{% if item.target_server_type is defined and item.target_server_type is match("openstack") %}

openstack_auth:
{% if (creds is defined and creds !=  "") %}
  username: {{ creds.openstack_username | default(encrypted.openstack_username) | indent(8, False) }}
  password: {{ creds.openstack_password | default(encrypted.openstack_password) | indent(8, False) }}
{% else %}
  username: {{ encrypted.openstack_username | indent(8, False) }}
  password: {{ encrypted.openstack_password | indent(8, False) }}
{% endif%}
  project_name: {{ item.openstack_project_name | default(common.openstack_project_name) }}
  auth_url: {{ item.openstack_auth_url | default(common.openstack_auth_url) }}

openstack_image: {{ item.openstack_image }}
openstack_flavor: {{ item.openstack_flavor }}
{% if item.openstack_network is defined %}
openstack_network: {{ item.openstack_network }}
{% endif %}
{% if item.openstack_subnet is defined %}
openstack_subnet: {{ item.openstack_subnet }}
{% endif %}
{% if item.openstack_port_name is defined %}
openstack_port_name: {{ item.openstack_port_name }}
{% endif %}
{% if item.openstack_port_security_groups is defined %}
openstack_port_security_groups:
{% for group in item.openstack_port_security_groups %}
  - {{ group }}
{% endfor %}
{% endif %}
{% if item.openstack_availability_zone is defined %}
openstack_availability_zone: {{ item.openstack_availability_zone }}
{% endif %}
{% endif %}

{% if item.openstack_internal_network is defined %}
openstack_internal_network: {{ item.openstack_internal_network }}
{% endif %}
{% if item.openstack_internal_subnet is defined %}
openstack_internal_subnet: {{ item.openstack_internal_subnet }}
{% endif %}
{% if item.openstack_internal_port_name is defined %}
openstack_internal_port_name: {{ item.openstack_internal_port_name }}
{% endif %}
{% if item.openstack_internal_port_security_groups is defined %}
openstack_internal_port_security_groups:
{% for group in item.openstack_internal_port_security_groups %}
  - {{ group }}
{% endfor %}
{% endif %}
{% if item.openstack_internal_availability_zone is defined %}
openstack_availability_zone: {{ item.openstack_availability_zone }}
{% endif %}
{% endif %}