# Component Credentials
{% if item.target_server_type is match("kvm") %}
target_server_username: "{{ creds.target_server_username | default(encrypted.target_server_username) | indent(8, False) }}"

{% if creds.target_server_password is defined %}
target_server_password: {{ creds.target_server_password | indent(8, False) }}
{% endif %}
{% endif %}

{% if item.target_server_type is match("vcenter") %}

vcenter:
{% if creds.vcenter_username is defined %}
  username: {{ creds.vcenter_username | indent(8, False) }}
{% endif %}
{% if creds.vcenter_password is defined %}
  password: {{ creds.vcenter_password | indent(8, False) }}
{% endif %}
  datacenter: {{ item.vcenter_datacenter | default( vcenter_datacenter ) }}
  cluster: {{ item.vcenter_cluster | default( vcenter_cluster ) }}
  datastore: {{ item.vcenter_datastore | default( vcenter_datastore ) }}
  resource_pool: {{ item.vcenter_resource_pool | default(vcenter_resource_pool | default('NONE')) }}
  host_reference: {{ item.vcenter_host_reference | default(vcenter_host_reference | default('NONE')) }}

{% endif %}

{% if item.target_server_type is match("aws") %}
{% if creds.aws_access_key is defined %}
aws_access_key: {{ creds.aws_access_key | indent(8, False) }}
{% endif %}
{% if creds.aws_secret_key is defined %}
aws_secret_key: {{ creds.aws_secret_key | indent(8, False) }}
{% endif %}
aws_region: "{{ item.aws_region }}"
aws_ami_id: "{{ item.aws_ami_id }}"
aws_upgrade_ami_id: "{{ item.aws_upgrade_ami_id }}"
aws_instance_type: "{{ item.aws_instance_type | default('m4.large') }}"
aws_key_name: "{{ item.aws_key_name }}"
aws_mgmt_eni: "{{ item.aws_mgmt_eni }}"

{% endif %}

{% if item.target_server_type is match("openstack") %}

openstack_auth:
{% if creds.openstack_username is defined %}
  username: {{ creds.openstack_username | indent(8, False) }}
{% endif %}
{% if creds.openstack_password is defined %}
  password: {{ creds.openstack_password | indent(8, False) }}
{% endif %}
  project_name: {{ item.openstack_project_name | default(openstack_project_name) }}
  auth_url: {{ item.openstack_auth_url | default(openstack_auth_url) }}

openstack_image: {{ item.openstack_image }}
openstack_flavor: {{ item.openstack_flavor }}
openstack_network: {{ item.openstack_network }}
openstack_subnet: {{ item.openstack_subnet }}
{% if item.openstack_port_name is defined %}
openstack_port_name: {{ item.openstack_port_name }}
{% endif %}
{% if item.openstack_port_security_groups is defined %}
openstack_port_security_groups:
{% for group in item.openstack_port_security_groups %}
  - {{ group }}
{% endfor %}
{% endif %}
{% if item.openstack_availability_zone is defined %}
openstack_availability_zone: {{ item.openstack_availability_zone }}
{% endif %}
{% endif %}
