vsd_auth:
    username: {{ vsd_auth_username | default("csproot") }}
    password: {{ vsd_auth_password | default("csproot") }}
    enterprise: {{ vsd_auth_enterprise | default("csp") }}
    api_url: {{ vsd_auth_url | default("https://" + vsd_fqdn_global + ":8443") }}

vcin_auth:
  api_username: {{ vcin_auth_username | default("csproot") }}
  api_password: {{ vcin_auth_password | default("csproot") }}
  api_enterprise: {{ vcin_auth_enterprise | default("csp") }}
  {% if vcin_api_url is defined %}
  api_url: {{ vcin_auth_url }}
  {% endif %}

{% if vsd_custom_username is defined %}
vsd_custom_username: {{ vsd_custom_username }}
{% endif %}
{% if vsd_custom_password is defined %}
vsd_custom_password: {{ vsd_custom_password }}
{% endif %}

{% if vstat_custom_username is defined %}
vstat_custom_username: {{ vstat_custom_username }}
{% endif %}
{% if vstat_custom_password is defined %}
vstat_custom_password: {{ vstat_custom_password }}
{% endif %}

{% if vsc_custom_username is defined %}
vsc_custom_username: {{ vsc_custom_username }}
{% endif %}
{% if vsc_custom_password is defined %}
vsc_custom_password: {{ vsc_custom_password }}
{% endif %}

target_server_username: {{ target_server_username | default("root") }}

compute_username: {{ compute_username | default("root") }}
compute_password: {{ compute_password | default("Alcateldc") }}

dns_username: {{ dns_username | default("root") }}
dns_password: {{ dns_password | default("Alcateldc") }}

{% if vsd_cna_password is defined %}
cnaPwd: {{ vsd_cna_password }}
{% endif %}
{% if vsd_ejbca_password is defined %}
ejbcaPwd: {{ vsd_ejbca_password }}
{% endif %}
{% if vsd_amp_password is defined %}
ampPwd: {{ vsd_amp_password }}
{% endif %}
{% if vsd_repl_password is defined %}
replPwd: {{ vsd_repl_password }}
{% endif %}
{% if vsd_admin_password is defined %}
adminPwd: {{ vsd_admin_password }}
{% endif %}
{% if vsd_monit_password is defined %}
monitPwd: {{ vsd_monit_password }}
{% endif %}
{% if vsd_keystore_password is defined %}
keyStorePwd: {{ vsd_keystore_password }}
{% endif %}
{% if vsd_truststore_password is defined %}
trustStorePwd: {{ vsd_truststore_password }}
{% endif %}
{% if vsd_jrestore_password is defined %}
jreStorePwd: {{ vsd_jrestore_password }}
{% endif %}
{% if vsd_keyserverstore_password is defined %}
keyServerStorePwd: {{ vsd_keyserverstore_password }}
{% endif %}
