{% if vsd_sa_or_ha == "sa" %}
iptables_std_commands:
{% if enable_ipv6 | default(False) %}
  - "ipset create vsd hash:ip family inet6"
{% else %}
  - "ipset create vsd hash:ip"
{% endif %}
  - "ipset add vsd {{ ip_addr.stdout }}"
  - "ipset save -f /etc/sysconfig/ipset"
{% if enable_ipv6 | default(False) %}
  - "ip6tables -I INPUT -p tcp --dport 22 -j ACCEPT"
  - "ip6tables -R INPUT 5 -m set --match-set vsd src -p tcp --dport 9200 -j ACCEPT"
  - "ip6tables -R INPUT 6 -m set --match-set vsd src -p tcp --dport 9300 -j ACCEPT"
{% endif %}
  - "service iptables save"
{% endif %}
{% if vsd_sa_or_ha == "ha" %}
iptables_cluster_commands:
{% if enable_ipv6 | default(False) %}
  - "ipset create vsd hash:ip family inet6"
{% else %}
  - "ipset create vsd hash:ip"
{% endif %}
{% for vsd in groups['vsds'] %}
  - "ipset add vsd {{ hostvars[vsd]['mgmt_ip'] }}"
{% endfor %}
{% endif %}
{% if vstat_sa_or_ha == "ha" %}
{% if groups['vstats'] | default([]) %}
{% for vstat in groups['vstats'] %}
  - "ipset add vsd {{ hostvars[vstat]['mgmt_ip'] }}"
{% endfor %}
{% endif %}
{% if groups['primary_vstats'] | default([]) %}
{% for vstat in groups['primary_vstats'] %}
  - "ipset add vsd {{ hostvars[vstat]['mgmt_ip'] }}"
{% endfor %}
{% endif %}
{% if groups['backup_vstats'] | default([]) %}
{% for vstat in groups['backup_vstats'] %}
  - "ipset add vsd {{ hostvars[vstat]['mgmt_ip'] }}"
{% endfor %}
{% endif %}
{% if groups['data_vstats'] | default([]) %}
{% for vstat in groups['data_vstats'] %}
  - "ipset add vsd {{ hostvars[vstat]['mgmt_ip'] }}"
{% endfor %}
{% endif %}
{% if groups['add_data_vstats'] | default([]) %}
{% for vstat in groups['add_data_vstats'] %}
  - "ipset add vsd {{ hostvars[vstat]['mgmt_ip'] }}"
{% endfor %}
{% endif %}
{% endif %}
  - "ipset save -f /etc/sysconfig/ipset"
{% if enable_ipv6 | default(False) %}
  - "ip6tables -I INPUT -p tcp --dport 22 -j ACCEPT"
  - "ip6tables -R INPUT 5 -m set --match-set vsd src -p tcp --dport 9200 -j ACCEPT"
  - "ip6tables -R INPUT 6 -m set --match-set vsd src -p tcp --dport 9300 -j ACCEPT"
{% else %}
  - "iptables -R INPUT 5 -m set --match-set vsd src -p tcp --dport 9200 -j ACCEPT"
  - "iptables -R INPUT 6 -m set --match-set vsd src -p tcp --dport 9300 -j ACCEPT"
{% endif %}
  - "service iptables save"
