primary-image        cf1:/timos/cpm.tim
primary-config       cf1:/config.cfg
autonegotiate
duplex               full
speed                100
wait                 3
persist              off
console-speed        115200
{% if internal_mgmt_ip is defined %}
address          {{ internal_mgmt_ip }}/{{ mgmt_netmask_prefix }}
{% else %}
address          {{ mgmt_ip }}/{{ mgmt_netmask_prefix }}
{% endif %}
primary-dns      {{ dns_server_list[0] }}
{% if dns_server_list[1] is defined %}
secondary-dns    {{ dns_server_list[1] }}
{% endif %}
{% if dns_server_list[2] is defined %}
tertiary-dns     {{ dns_server_list[2] }}
{% endif %}
dns-domain       {{ dns_domain }}
{% if vsc_mgmt_static_route_list is defined %}
{% for static_route in vsc_mgmt_static_route_list %}
static-route {{ static_route }} next-hop {{ mgmt_gateway }}
{% endfor %}
{% endif %}
