DEVICE=admin0
HOSTNAME="{{ hostname }}"
ADDR_MODE=static
IPADDR="{{ mgmt_ip }}"
GATEWAY="{{ mgmt_gateway }}"
NETMASK="{{ mgmt_netmask }}"
DNSSERVERS="{{ dns_server_list[0] }}"
NTPSERVER="{{ ntp_server_list[0] }}"
TELNET_SERVICE=off
AUTO_DETECT_PORTS=on
NPORTGROUPS=1
NPORTS_PER_GROUP=2
DRIVERMODE=sockets
RXQ_PER_PORT=1
PREALLOC=off
PORT_SPEED=1G
PROMISC=on
USBIP=
USBMASK=
SERIAL=SPIRENTQEMU
PART_NUMBER=80-000003-X86
REVISION=A1
LSERVER="{{ spirent_license_server }}"
