<domain type='kvm' id='1234'>
  <name>{{ vm_hostname }}</name>
  <memory unit='G'>{{ vm_ram }}</memory>
  <currentMemory unit='G'>{{ vm_ram }}</currentMemory>
  <vcpu placement='static'>{{ vm_vcpus }}</vcpu>
  <resource>
    <partition>/machine</partition>
  </resource>
  <features>
    <acpi/>
  </features>
  <os>
    <type arch='x86_64' machine='pc-i440fx-rhel7.0.0'>hvm</type>
    <boot dev='hd'/>
  </os>
  <cpu mode='host-passthrough'/>
  <clock offset='utc'>
    <timer name='pit' tickpolicy='delay'/>
  </clock>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    <emulator>/usr/libexec/qemu-kvm</emulator>
    <disk type='file' device='disk'>
      <driver name='qemu' type='raw' cache='none'/>
      <source file='{{ images_path }}/{{ vm_hostname }}/{{ stcv_image_filename }}'/>
      <backingStore/>
      <target dev='hda' bus='ide'/>
      <alias name='ide0-0-0'/>
    </disk>
    <controller type='ide' index='0'>
      <alias name='ide'/>
    </controller>
    <controller type='usb' index='0'>
      <alias name='usb'/>
    </controller>
    <controller type='pci' index='0' model='pci-root'>
      <alias name='pci.0'/>
    </controller>
    <interface type='bridge'>
      <source bridge='{{ mgmt_bridge }}'/>
      <target dev='vnet45'/>
      <model type='virtio'/>
      <alias name='net0'/>
    </interface>
    <interface type='bridge'>
      <source bridge='{{ data_bridge1 }}'/>
      <target dev='vnet46'/>
      <model type='virtio'/>
      <alias name='net1'/>
    </interface>
    <interface type='bridge'>
      <source bridge='{{ data_bridge2 }}'/>
      <target dev='vnet47'/>
      <model type='virtio'/>
      <alias name='net2'/>
    </interface>
    <serial type='pty'>
      <source path='/dev/pts/16'/>
      <target port='0'/>
      <alias name='serial0'/>
    </serial>
    <console type='pty' tty='/dev/pts/16'>
      <source path='/dev/pts/16'/>
      <target type='serial' port='0'/>
      <alias name='serial0'/>
    </console>
    <memballoon model='virtio'>
      <alias name='balloon0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x06' function='0x0'/>
    </memballoon>
  </devices>
</domain>
