frontend webfilterfrontdownloadssl
    mode tcp
    bind 0.0.0.0:8080 ssl crt /opt/proxy/config/keys/proxyCert.pem ca-file /opt/proxy/config/keys/proxy-CA.pem verify required crl-file /etc/haproxy/crl.pem
    bind :::8080 ssl crt /opt/proxy/config/keys/proxyCert.pem ca-file /opt/proxy/config/keys/proxy-CA.pem verify required crl-file /etc/haproxy/crl.pem
    use_backend webfilterbackdownloadssl
    default_backend noaccess
backend webfilterbackdownloadssl
    mode tcp
    balance roundrobin
    #Replace the hostname and ip-addresses of the web filtering VM
    server webfilter 192.168.1.151:7443 port 7443 check check-ssl ssl crt /opt/proxy/config/keys/proxyCert.pem ca-file /opt/proxy/config/keys/proxy-CA.pem verify required crl-file /etc/haproxy/crl.pem inter 60s 
frontend webfilerProtobufFront
    mode tcp
    bind 0.0.0.0:9090 ssl crt /opt/proxy/config/keys/proxyCert.pem ca-file /opt/proxy/config/keys/proxy-CA.pem verify required crl-file /etc/haproxy/crl.pem
    bind :::9090 ssl crt /opt/proxy/config/keys/proxyCert.pem ca-file /opt/proxy/config/keys/proxy-CA.pem verify required crl-file /etc/haproxy/crl.pem
    use_backend webfilterProtobufserver
    default_backend noaccess
backend webfilterProtobufserver
    mode tcp
    #Replace to hostname to hostname of webFilter vm
    server webfilter 192.168.1.151:22222 check port 22222 check-ssl verify none inter 60s
    option httpchk GET /nuage/incompass/health
    http-check expect status 200 
