---
nuage_packed_src_path: "/home/caso/nuage-jenkins/4.0R4/nuage-packed"
nuage_unpacked_dest_path: "/home/caso/nuage-jenkins/4.0R4/nuage-unpacked"
nuage_target_architecture: {{ target_os }}
target_server_username: "root"
vsd_standalone: true
dockermon_install: true
myvrss:
  - { vrs_os_type: el7,
rs_ip_list: [{{ target_server }}],
      active_controller_ip: {{ network_address }}.212,
      standby_controller_ip: {{ network_address }}.213,
    }
ansible_deployment_host: 10.106.0.2
mgmt_bridge: "mgmt"
data_bridge: "data"
access_bridge: "access"
images_path: "/var/lib/libvirt/images/"
ntp_server_list:
  - {{ target_server }}
  - 192.96.202.120
dns_server_list:
  - {{ target_server }}
  - 127.0.0.1
dns_domain: example.com
os_auth:
  username: admin
  password: admin
  project_name: jen
  auth_url: 'http://10.0.0.4:5000/v2.0'
