---
nuage_packed_src_path: "/mnt/nfs/nuage-releases/4.0R4/nuage-packed"
nuage_unpacked_dest_path: "/mnt/nfs/nuage-releases/4.0R4/nuage-unpacked"
nuage_already_unpacked: false
nuage_target_architecture: {{ target_os }}
target_server_username: "root"
vsd_standalone: true
myvscs:
  - { hostname: {{ inventory_hostname }}-vsc1.example.com,
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.212,
      mgmt_gateway: {{ network_address }}.2,
      mgmt_netmask_prefix: 24,
      ctrl_ip: 192.168.100.202,
      ctrl_netmask_prefix: 24,
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com,
      system_ip: 1.1.1.2,
      xmpp_username: vsc1,
      vsc_static_route_list: { 0.0.0.0/1 } }
  - { hostname: {{ inventory_hostname }}-vsc2.example.com,
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.213,
      mgmt_gateway: {{ network_address }}.2,
      mgmt_netmask_prefix: 24,
      ctrl_ip: 192.168.100.203,
      ctrl_netmask_prefix: 24,
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com,
      system_ip: 1.1.1.3,
      xmpp_username: vsc2,
      vsc_static_route_list: { 0.0.0.0/1 } }
ansible_deployment_host: 10.106.0.2
mgmt_bridge: "mgmt"
data_bridge: "data"
access_bridge: "access"
images_path: "/var/lib/libvirt/images/"
ntp_server_list:
  - {{ target_server }}
  - 192.96.202.120
dns_server_list:
  - {{ target_server }}
  - 128.251.10.145
dns_domain: example.com
