---
target_server_username: "root"
mycis:
  - { hostname: {{ host_name }},
      target_server_type: "heat",
      ci_image: jen-centos7,
      ci_flavor: jenkins }
ansible_deployment_host: 10.106.0.2
os_auth:
  username: admin
  password: admin
  project_name: jen
  auth_url: 'http://10.0.0.4:5000/v2.0'
ntp_server_list:
  - 135.227.181.232
  - 135.227.181.233
  - 10.106.0.3
