---
nuage_zipped_files_dir: "/mnt/nfs/nuage-releases/VERSION/nuage-packed"
nuage_unzipped_files_dir: "/mnt/nfs/nuage-releases/VERSION/nuage-unpacked"
target_server_username: "root"
ansible_sudo_username: "root"
{% if deployment_mode == 'sa' %}
vsd_sa_or_ha: sa
vsd_fqdn_global: {{ inventory_hostname }}-vsd1.example.com
{% endif %}
{% if deployment_mode == 'ha' %}
vsd_sa_or_ha: ha
vstat_sa_or_ha: ha
vsd_fqdn_global: xmpp.example.com
{% endif %}
mycis:
  - { hostname: {{ inventory_hostname }},
      target_server_type: "heat",
      ci_image: ci-centos7,
      ci_flavor: jenkins }
  - { hostname: {{ vrs_u14_target_server_name }},
      target_server_type: "heat",
      ci_image: ci-ubuntu14,
      ci_flavor: jenkins }
  - { hostname: {{ vrs_u16_target_server_name }},
      target_server_type: "heat",
      ci_image: ci-ubuntu16,
      ci_flavor: jenkins }
vsd_operations_list:
  - install
myvsds:
  - { hostname: {{ inventory_hostname }}-vsd1.example.com,
{% if vmname_test == True %}
      vmname: {{ inventory_hostname }}-vsd1.metro,
{% endif %}
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.211,
      mgmt_gateway: {{ target_server }},
      mgmt_netmask: 255.255.255.0 }
{% if deployment_mode == 'ha'%}
  - { hostname: {{ inventory_hostname }}-vsd2.example.com,
{% if vmname_test == True %}
      vmname: {{ inventory_hostname }}-vsd2.metro,
{% endif %}
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.212,
      mgmt_gateway: {{ target_server }},
      mgmt_netmask: 255.255.255.0 }
  - { hostname: {{ inventory_hostname }}-vsd3.example.com,
{% if vmname_test == True %}
      vmname: {{ inventory_hostname }}-vsd3.metro,
{% endif %}
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.213,
      mgmt_gateway: {{ target_server }},
      mgmt_netmask: 255.255.255.0 }
{% endif %}
vsc_operations_list:
  - install
myvscs:
  - { hostname: {{ inventory_hostname }}-vsc1.example.com,
{% if vmname_test == True %}
      vmname: {{ inventory_hostname }}-vsc1.metro,
{% endif %}
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.214,
      mgmt_gateway: {{ target_server }},
      mgmt_netmask_prefix: 24,
      ctrl_ip: 192.168.100.204,
      ctrl_netmask_prefix: 24,
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com,
      system_ip: 1.1.1.2,
      xmpp_username: vsc1,
      vsc_static_route_list: { 0.0.0.0/1 } }
  - { hostname: {{ inventory_hostname }}-vsc2.example.com,
{% if vmname_test == True %}
      vmname: {{ inventory_hostname }}-vsc2.metro,
{% endif %}
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.215,
      mgmt_gateway: {{ target_server }},
      mgmt_netmask_prefix: 24,
      ctrl_ip: 192.168.100.205,
      ctrl_netmask_prefix: 24,
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com,
      system_ip: 1.1.1.3,
      xmpp_username: vsc2,
      vsc_static_route_list: { 0.0.0.0/1 } }
vrs_operations_list:
  - install
dockermon_install: true
myvrss:
  - { vrs_os_type: el7,
      vrs_ip_list: [{{ target_server | default("0.0.0.0") }}],
      active_controller_ip: {{ network_address }}.214,
      standby_controller_ip: {{ network_address }}.215 }
  - { vrs_os_type: u14.04,
      vrs_ip_list: [{{ vrs_u14_target_server | default("0.0.0.0") }}],
      active_controller_ip: {{ network_address }}.214,
      standby_controller_ip: {{ network_address }}.215 }
  - { vrs_os_type: u16.04,
      vrs_ip_list: [{{ vrs_u16_target_server | default("0.0.0.0") }}],
      active_controller_ip: {{ network_address }}.214,
      standby_controller_ip: {{ network_address }}.215 }
vstat_operations_list:
  - install
myvstats:
  - { hostname: {{ inventory_hostname }}-vstat1.example.com,
{% if vmname_test == True %}
      vmname: {{ inventory_hostname }}-vstat1.metro,
{% endif %}
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.216,
      mgmt_gateway: {{ target_server }},
      mgmt_netmask: 255.255.255.0,
{% if deployment_mode == 'sa' %}
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com }
{% endif %}
{% if deployment_mode == 'ha' %}
      vsd_fqdn: xmpp.example.com }
{% endif %}
{% if deployment_mode == 'ha' %}
  - { hostname: {{ inventory_hostname }}-vstat2.example.com,
{% if vmname_test == True %}
      vmname: {{ inventory_hostname }}-vstat2.metro,
{% endif %}
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.217,
      mgmt_gateway: {{ target_server }},
      mgmt_netmask: 255.255.255.0,
{% if deployment_mode == 'sa' %}
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com }
{% endif %}
{% if deployment_mode == 'ha' %}
      vsd_fqdn: xmpp.example.com }
{% endif %}
  - { hostname: {{ inventory_hostname }}-vstat3.example.com,
{% if vmname_test == True %}
      vmname: {{ inventory_hostname }}-vstat2.metro,
{% endif %}
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.218,
      mgmt_gateway: {{ target_server }},
      mgmt_netmask: 255.255.255.0,
{% if deployment_mode == 'sa' %}
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com }
{% endif %}
{% if deployment_mode == 'ha' %}
      vsd_fqdn: xmpp.example.com }
{% endif %}

{% endif %}
vns_operations_list:
  - install
myvnsutils:
  - { hostname: {{ inventory_hostname }}-vnsutil1.example.com,
{% if vmname_test == True %}
      vmname: {{ inventory_hostname }}-vnsutil1.metro,
{% endif %}
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.219,
      mgmt_gateway: {{ target_server }},
      mgmt_netmask: 255.255.255.0,
      data_fqdn: {{ inventory_hostname }}-vnsutil1.data.example.com,
      data_ip: 192.168.100.219,
      data_subnet: 192.168.100.0,
      data_netmask: 255.255.255.0,
      nsgv_ip: 192.168.100.220,
      nsgv_mac: '52:54:00:88:85:12',
      nsgv_hostname: {{ inventory_hostname }}-nsgv1.example.com,
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com }
mynsgvs:
  - { hostname: {{ inventory_hostname }}-nsgv1.example.com,
{% if vmname_test == True %}
      vmname: {{ inventory_hostname }}-nsgv1.metro,
{% endif %}
      target_server_type: "kvm",
      target_server: {{ target_server }},
      bootstrap_method: zfb_metro,
      nsgv_mac: '52:54:00:88:85:12' }
ansible_deployment_host: 10.106.0.2
mgmt_bridge: "mgmt"
data_bridge: "data"
access_bridge: "access"
images_path: "/var/lib/libvirt/images/"
ntp_server_list:
  - {{ target_server }}
  - 192.96.202.120
dns_server_list:
  - {{ target_server }}
  - 127.0.0.1
dns_domain: example.com
os_auth:
  username: admin
  password: admin
  project_name: jen
  auth_url: 'http://10.0.0.4:5000/v2.0'
