---
nuage_zipped_files_dir: "/mnt/nfs/nuage-releases/VERSION/nuage-packed"
nuage_unzipped_files_dir: "/mnt/nfs/nuage-releases/VERSION/nuage-unpacked"
ansible_sudo_username: "root"
vsd_sa_or_ha: sa
vsd_operations_list:
  - install
myvsds:
  - hostname: {{ inventory_hostname }}-vsd1.example.com
vsc_operations_list:
  - install
myvscs:
  - { hostname: {{ inventory_hostname }}-vsc1.example.com,
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.212,
      mgmt_gateway: {{ network_address }}.2,
      mgmt_netmask_prefix: 24,
      ctrl_ip: 192.168.100.202,
      ctrl_netmask_prefix: 24,
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com,
      system_ip: 1.1.1.2,
      xmpp_username: vsc1,
      vsc_static_route_list: { 0.0.0.0/1 } }
  - { hostname: {{ inventory_hostname }}-vsc2.example.com,
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.213,
      mgmt_gateway: {{ network_address }}.2,
      mgmt_netmask_prefix: 24,
      ctrl_ip: 192.168.100.203,
      ctrl_netmask_prefix: 24,
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com,
      system_ip: 1.1.1.3,
      xmpp_username: vsc2,
      vsc_static_route_list: { 0.0.0.0/1 } }
vns_operations_list:
  - install
myvnsutils:
  - { hostname: {{ inventory_hostname }}-vnsutil1.example.com,
      target_server_type: "kvm",
      target_server: {{ target_server }},
      mgmt_ip: {{ network_address }}.215,
      mgmt_gateway: {{ target_server }},
      mgmt_netmask: 255.255.255.0,
      data_ip: 192.168.100.215,
      data_subnet: 192.168.100.0,
      data_netmask: 255.255.255.0,
      nsgv_ip: 192.168.100.216,
      nsgv_mac: '52:54:00:88:85:12',
      nsgv_hostname: {{ inventory_hostname }}-nsgv1.example.com,
      vsd_fqdn: {{ inventory_hostname }}-vsd1.example.com }
mynsgvs:
  - { hostname: nsgv,
      target_server_type: "kvm",
      target_server: {{ target_server }},
      bootstrap_method: zfb_metro,
      nsgv_mac: '52:54:00:88:85:12' }
ansible_deployment_host: 10.106.0.2
mgmt_bridge: "mgmt"
data_bridge: "data"
access_bridge: "access"
images_path: "/var/lib/libvirt/images/"
ntp_server_list:
  - {{ target_server }}
  - 192.96.202.120
dns_server_list:
  - {{ target_server }}
  - 127.0.0.1
dns_domain: example.com
os_auth:
 username: admin
 password: admin
 project_name: jen
 auth_url: 'http://10.0.0.4:5000/v2.0'
