---
# See BUILD.md for details

# First set of tasks is to gather_facts so that subsequent task list can use these facts as part of variable setting
- hosts: localhost
  gather_facts: yes
  tasks: []

# Actual tasks to generate build configuration
- hosts: localhost
  roles:
    - ci-build
  vars:
    nuage_target_architecture: "el7"
    mycis:
      - { hostname: {{ host_name }},
          target_server_type: "heat",
          ci_image: jen-centos7,
          ci_flavor: jenkins }
    ansible_deployment_host: 10.106.0.2
    os_auth:
     username: admin
     password: admin
     project_name: jen
     auth_url: 'http://10.0.0.4:5000/v2.0'
    ntp_server_list:
      - pool.ntp.org
      - 135.227.181.232
      - 192.96.202.120
        
