---
nuage_zipped_files_dir: "/mnt/nfs/nuage-releases/VERSION/nuage-packed"
nuage_unzipped_files_dir: "/mnt/nfs/nuage-releases/VERSION/nuage-unpacked"
target_server_username: "root"
ansible_sudo_username: "root"
dockermon_install: True
vrs_operations_list:
  - install
myvrss:
  - { vrs_os_type: el7,
vrs_ip_list: [{{ target_server }}],
      active_controller_ip: {{ network_address }}.214,
      standby_controller_ip: {{ network_address }}.215,
    }
ansible_deployment_host: 10.106.0.2
mgmt_bridge: "mgmt"
data_bridge: "data"
access_bridge: "access"
images_path: "/var/lib/libvirt/images/"
ntp_server_list:
  - {{ target_server }}
  - 192.96.202.120
dns_server_list:
  - {{ target_server }}
  - 127.0.0.1
dns_domain: example.com
os_auth:
  username: admin
  password: admin
  project_name: jen
  auth_url: 'http://10.0.0.4:5000/v2.0'
