# VSD license
vsd_license_file: "/home/caso/metro/license/vsd.lic"
# Organization 
organization:
  name: metro-test
  nsg_name: NSG_US

# CSP credentials
csp: 
  username:  csproot
  password:  csproot
  enterprise: csp
  api_url: https://{{ network_address }}.211:8443
  
# Proxy user
user_data: 
  firstName: metro
  lastName: metro
  email: test@example.com
  password: a94a8fe5ccb19ba61c4c0873d391e987982fbbd3
    
# NSG infra profile
vns_nsg:
  name: metro_vns
  nsg_template_name: metro-test
  proxyDNSName: jenkinsvnsutil1.example.com

# VSC infra profile
vns_vsc: 
  name: metro_vsc
  firstController: {{ network_address }}.212
  secondController: {{ network_address }}.213

# NSGV ports
nsg_ports: 
  network_port: 
    name: port1_network
    physicalName: port1
  access_port: 
    name: port2_access
    physicalName: port2
    VLANRange: '0-100'
    vlan_value: 20
