DEVICE=eth0
ONBOOT=yes
TYPE=Ethernet
{% if mgmt_ip != "None" -%}
    BOOTPROTO=static
{% else -%}
    BOOTPROTO=dhcp
{% endif -%}
IPV4_FAILURE_FATAL=yes
IPV6INIT=no
NAME=eth0
{% if mgmt_ip != "None" -%}
    IPADDR={{ mgmt_ip }}
{% endif -%}
{% if mgmt_prefix != "None" -%}
    PREFIX={{ mgmt_prefix }}
{% endif -%}
{% if mgmt_gateway != "None" -%}
    GATEWAY={{ mgmt_gateway }}
{% endif -%}

