guestfish --rw -a {{ images_path }}/{{ vmname }}/{{ vmname }}.qcow2 -m {{ mount_point }} << EOF
         copy-in {{ images_path }}/{{ vmname }}/network /etc/sysconfig/
         copy-in {{ images_path }}/{{ vmname }}/ifcfg-eth0 /etc/sysconfig/network-scripts/
         copy-in {{ images_path }}/{{ vmname }}/hostname /etc/
         copy-in {{ images_path }}/{{ vmname }}/authorized_keys /root/.ssh/
EOF
