virt-install --name={{ vmname }} \
         --ram={{ portal_ram|int * 1024}} \
         --vcpus={{ vcpu }} \
         --disk {{ images_path }}/{{ vmname }}/{{ vmname }}.qcow2,format=qcow2,bus=virtio,cache=none \
         --network bridge={{ mgmt_bridge }} \
         --os-type=linux \
         --os-variant=centos7.0 \
         --graphics=vnc,listen=0.0.0.0,keymap='en-us' \
         --noautoconsole \
         --cpu host \
         --import
