exit all
configure

#--------------------------------------------------
#echo "System Security Configuration"
#--------------------------------------------------
    system
        security
            tls-profile "vns-tls-profile"
                shutdown
                own-key cf1:\{{ xmpp.username }}-Key.pem
                own-certificate cf1:\{{ xmpp.username }}.pem
                ca-certificate cf1:\{{ xmpp.username }}-CA.pem
                no shutdown
            exit
        exit
    exit

#--------------------------------------------------
echo "Virtual Switch Controller Configuration"
#--------------------------------------------------
    vswitch-controller
        open-flow
            tls-profile vns-tls-profile
        exit
        xmpp
            tls-profile vns-tls-profile
        exit
    exit

exit all
