DEVICE="eth0"
IPV6INIT="no"
NM_CONTROLLED="no"
ONBOOT="yes"
TYPE="Ethernet"
BOOTPROTO="dhcp"
{% if infra_ip is defined %}
DNS1="{{ infra_ip }}"
{% endif %}
{% if infra_ip is not defined and dns_server_list[0] is defined %}
DNS1="{{dns_server_list[0]}}"
{% endif %}
{% if infra_ip is not defined and dns_server_list[1] is defined %}
DNS2="{{dns_server_list[1]}}"
{% endif %}
