DEVICE="eth0"
IPV6INIT="no"
NM_CONTROLLED="no"
ONBOOT="yes"
TYPE="Ethernet"
BOOTPROTO="static"
IPADDR="{{ interfaces.mgmt.ip }}"
GATEWAY="{{ interfaces.mgmt.gateway }}"
NETMASK="{{ interfaces.mgmt.netmask }}"
DNS1="{{dns_server_list[0]}}"
{% if dns_server_list[1] is defined %}
DNS2="{{dns_server_list[1]}}"
{% endif %}
