#--------------------------------------------------
echo "Card Configuration"
#--------------------------------------------------
    card 1
        card-type iom-v
        mda 1
            mda-type m20-v
            no shutdown
        exit
        no shutdown
    exit

#--------------------------------------------------
echo "Port Configuration"
#--------------------------------------------------
{% for port in  ports_to_hv_bridges[1:] %}
    port 1/1/{{ loop.index }}
        no shutdown
        ethernet
            lldp
                dest-mac nearest-bridge
                    admin-status tx-rx
                    tx-tlvs port-desc sys-name sys-desc sys-cap
                    tx-mgmt-address system
                exit
            exit
        exit
    exit
{% endfor %}

