NAME="eth0"
DEVICE="eth0"
IPV6INIT="no"
NM_CONTROLLED="no"
ONBOOT="yes"
TYPE="Ethernet"
BOOTPROTO="static"
IPADDR="{{ ip }}"
GATEWAY="{{ nuage.networks['mgmt'].gateway }}"
NETMASK="{{ nuage.networks['mgmt'].netmask }}"
DNS1="{{nuage.dns_server_list[0]}}"
{% if nuage.dns_server_list[1] is defined %}
DNS2="{{nuage.dns_server_list[1]}}"
{% endif %}
