configure system name {{ system_name | default(inventory_hostname) }}
{% for ntp_server in ntp_server_list %}
configure system time ntp server {{ ntp_server }}
{% endfor %}
configure system time ntp no shutdown
configure vswitch-controller xmpp-server {{ xmpp.username }}@{{ vsd_fqdn }}
{% if control_ip is defined and control_netmask_prefix is defined %}
configure router interface control address {{ control_ip }}/{{ control_netmask_prefix }}
configure router interface control no shutdown
{% endif %}
{% if system_ip is defined %}
configure router interface system address {{ system_ip }}/32
configure router interface system no shutdown
configure router router-id {{ system_ip }}
{% endif %}
{% for vsc_item in groups['vscs'] %}
 {% if vsc_item != inventory_hostname %}
  {% if hostvars[vsc_item].system_ip is defined %}
   {% if hostvars[vsc_item].system_ip != system_ip | default('') %}
configure router static-route {{ hostvars[vsc_item].system_ip }}/32 next-hop {{ hostvars[vsc_item].control_ip }}
   {% endif %}
  {% endif %}
 {% endif %}
{% endfor %}
configure router bgp connect-retry 2
configure router bgp min-route-advertisement 1
configure router bgp outbound-route-filtering extended-community send-orf
configure router bgp group internal type internal
configure router bgp group internal family evpn
{% for vsc_item in groups['vscs'] %}
 {% if vsc_item != inventory_hostname %}
  {% if hostvars[vsc_item].system_ip is defined %}
   {% if hostvars[vsc_item].system_ip != system_ip %}
configure router bgp group internal neighbor {{ hostvars[vsc_item].system_ip }}
   {% endif %}
  {% endif %}
 {% endif %}
{% endfor %}

