exit all
configure

#--------------------------------------------------
echo "System Configuration"
#--------------------------------------------------
    system
        name {{ inventory_hostname }}
        time
            ntp
            {% for ntp_server in ntp_server_list %}
                server {{ ntp_server }}
            {% endfor %}
                no shutdown
            exit
        exit
    exit
#--------------------------------------------------
echo "Virtual Switch Controller Configuration"
#--------------------------------------------------
    vswitch-controller
        xmpp-server "{{ xmpp.username }}@{{ vsd_fqdn }}"
    exit

#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router
        interface "control"
        {% if interfaces.control.ip is defined and interfaces.control.netmask_prefix is defined %}
            address {{ interfaces.control.ip }}/{{ interfaces.control.netmask_prefix }}
            no shutdown
        {% endif %}
        exit
        interface "system"
        {% if system_ip is defined %}
            address {{ system_ip }}/32
            no shutdown
        {% endif %}
        exit
        {% if as_number %}
        autonomous-system {{ as_number }}
        {% endif %}
        {% if system_ip is defined %}
        router-id {{ system_ip }}
        {% endif %}
        {% for vsc_item in list_of_vscs %}
          {% if vsc_item != inventory_hostname %}
            {% if hostvars[vsc_item].system_ip != system_ip %}
        static-route {{ hostvars[vsc_item].system_ip }}/32 next-hop {{ hostvars[vsc_item].interfaces.control.ip }}
            {% endif %}
          {% endif %}
        {% endfor %}
        bgp
            connect-retry 2
            min-route-advertisement 1
            outbound-route-filtering
                extended-community
                    send-orf
                exit
            exit
            group "internal"
                type internal
                {% for vsc_item in list_of_vscs %}
                  {% if vsc_item != inventory_hostname %}
                    {% if hostvars[vsc_item].system_ip != system_ip %}
                neighbor {{ hostvars[vsc_item].system_ip }}
                exit
                    {% endif %}
                  {% endif %}
                {% endfor %}
                family evpn
            exit
        exit
    exit
exit
exit all
