exit all
configure

#--------------------------------------------------
echo "System Configuration"
#--------------------------------------------------
    system
        name {{ system_name | default(inventory_hostname) }}
        snmp 
            packet-size 9212 
        exit 
        time
            ntp
            {% for ntp_server in ntp_server_list %}
                server {{ ntp_server }}
            {% endfor %}
                no shutdown
            exit
            sntp
                shutdown
            exit
        exit
    exit
#--------------------------------------------------
#echo "System Security Configuration"
#--------------------------------------------------
    system
        security
            profile "zabbix" 
                entry 10 
                    match "exit" 
                    action permit 
                exit 
                entry 20 
                    match "show uptime" 
                    action permit 
                exit 
                entry 30 
                    match "logout" 
                    action permit 
                exit 
                entry 40 
                    match "show vswitch-controller mac-routes" 
                    action permit 
                exit 
                entry 50 
                    match "show vswitch-controller gateway sek" 
                    action permit 
                exit 
            exit 
            snmp 
                community "XiKK74vjRvsfSjdUZFiUaMMvrMjcY9Ms" hash2 r version v2c 
            exit 
            ssh 
                preserve-key 
            exit    
            tls-profile "vsc-tls-profile" create
                shutdown
            exit
        exit
    exit
#-------------------------------------------------- 
echo "Log Configuration" 
#-------------------------------------------------- 
    log 
        file-id 33 
            location cf1: 
            rollover 1440 retention 120 
        exit 
        syslog 1 
            description "zabbixproxy1" 
            address 100.70.2.10 
            level warning 
            log-prefix "{{ log_prefix_name }}" 
        exit 
        snmp-trap-group 12 
        exit 
        log-id 1 
            from debug-trace 
            to memory 3000 
        exit 
        log-id 12 
        exit 
        log-id 33 
            from debug-trace main security change 
            to file 33 
        exit 
        log-id 66 
            description "output to syslog 1" 
            from debug-trace main security change 
            to syslog 1 
        exit 
    exit 
#--------------------------------------------------
echo "Virtual Switch Controller Configuration"
#--------------------------------------------------
    vswitch-controller
        xmpp-server "{{ xmpp.username }}@{{ vsd_fqdn }}"
    exit

#--------------------------------------------------
echo "Router (Network Side) Configuration"
#--------------------------------------------------
    router
        interface "control" 
            shutdown 
        exit 
        {% if control_ip is defined and control_netmask_prefix is defined %}
        interface "control2"
            {% if internal_ctrl_ip is defined %}
            address {{ internal_ctrl_ip }}/{{ control_netmask_prefix }}
            {% else %}
              {% if enable_ipv6 is defined %}
            ipv6 address {{ control_ip }}/{{ control_netmask_prefix }}
              {% else %}
            address {{ control_ip }}/{{ control_netmask_prefix }}
              {% endif %}
            {% endif %}
            port A/2:{{ ctrl_port_vlan }}
            no shutdown
        exit
        {% endif %}
        {% if bgp_interface_ip_address is defined %}
        interface "bgp"
            address {{ bgp_interface_ip_address }}/{{ bgp_interface_ip_prefix }}
            port A/2:{{ bgp_interface_vlan_id }}
            no shutdown
        exit
        {% endif %}
        interface "system"
        {% if system_ip is defined %}
          {% if enable_ipv6 is defined %}
            ipv6 address {{ system_ip }}/128
          {% else %}
            address {{ system_ip }}/32
          {% endif %}
            no shutdown
        {% else %}
            shutdown
        {% endif %}
        exit
        {% if as_number %}
        autonomous-system {{ as_number }}
        {% endif %}
        {% if router_id is defined %}
        router-id {{ router_id }}
        {% elif system_ip is defined %}
        router-id {{ system_ip }}
        {% endif %}
#--------------------------------------------------
echo "Static Route Configuration"
#--------------------------------------------------
{% if internal_data_gateway_ip is defined %}
        static-route 0.0.0.0/0 next-hop {{ internal_data_gateway_ip }}
{% endif %}
    exit
#--------------------------------------------------
echo "Service Configuration"
#--------------------------------------------------
    service
    {% for vprn_obj in vprn_object_list %}
        vprn {{ vprn_obj.vlan }} customer 1 create
            description "internet underlay" 
            route-distinguisher {{ vprn_obj.as_number }}:{{ vprn_obj.vlan }}
            interface "{{ vprn_obj.interface_name }}" create
                {% if vprn_obj.ipaddr != "" %}
                address {{ vprn_obj.ipaddr }}/{{ vprn_obj.netmask_length }}
                {% endif %}
                sap A/2:{{ vprn_obj.vlan }} create
                exit
            exit
            interface "public" create 
                address {{ vprn_obj.customer_ip }}/32 
                loopback 
                exit
        {% if vprn_obj.nexthop != "" %}
        static-route 0.0.0.0/0 next-hop {{ vprn_obj.nexthop }}
        {% endif %}
            ntp 
                authenticate 
                authentication-key 10 key "vqFmnFV/wVqJHQugPDsKxU" hash2 type message-digest 
                no shutdown 
            exit 
            no shutdown
        exit
    {% endfor %}
    exit

#--------------------------------------------------
echo "BGP Configuration"
#--------------------------------------------------
    router
        bgp
            connect-retry 2
            min-route-advertisement 1
            outbound-route-filtering
                extended-community
                    send-orf
                exit
            exit
            {% if route_reflector_ip_list is defined and route_reflector_ip_list | length > 0 %}
            rapid-withdrawal
            rapid-update l2-vpn mvpn-ipv4 mdt-safi evpn
            group "RR"
                family evpn
                type internal
                local-as {{ as_number }} private no-prepend-global-as 
                local-address {{ control_ip }}
                {% for route_reflector_ip in route_reflector_ip_list %}
                neighbor {{ route_reflector_ip }}
                exit
                {% endfor %}
            {% else %}
            group "internal"
                type internal
                {% for vsc_item in groups['vscs'] %}
                  {% if vsc_item != inventory_hostname %}
                    {% if hostvars[vsc_item].system_ip is defined %}
                      {% if hostvars[vsc_item].system_ip != system_ip %}
                neighbor {{ hostvars[vsc_item].system_ip }}
                exit
                      {% endif %}
                    {% endif %}
                  {% endif %}
                {% endfor %}
                family evpn
            exit
            {% endif %}           
            exit
            no shutdown
        exit
    exit
exit all
