exit all
configure

    system
        security
            ssh
                client-cipher-list protocol-version 1
                    no cipher 200 # name 3des
                    no cipher 205 # name blowfish
                    no cipher 210 # name des
                exit
                client-cipher-list protocol-version 2
                    cipher 190 name aes256-ctr
                    cipher 192 name aes192-ctr
                    cipher 194 name aes128-ctr
                    no cipher 200 # name aes128-cbc
                    no cipher 205 # name 3des-cbc
                    no cipher 210 # name blowfish-cbc
                    no cipher 215 # name cast128-cbc
                    no cipher 220 # name arcfour
                    no cipher 225 # name aes192-cbc
                    no cipher 230 # name aes256-cbc
                    no cipher 235 # name rijndael-cbc
                exit
                server-cipher-list protocol-version 1
                    no cipher 200 # name 3des
                    no cipher 205 # name blowfish
                exit
                server-cipher-list protocol-version 2
                    cipher 190 name aes256-ctr
                    cipher 192 name aes192-ctr
                    cipher 194 name aes128-ctr
                    no cipher 200 # name aes128-cbc
                    no cipher 205 # name 3des-cbc
                    no cipher 210 # name blowfish-cbc
                    no cipher 215 # name cast128-cbc
                    no cipher 220 # name arcfour
                    no cipher 225 # name aes192-cbc
                    no cipher 230 # name aes256-cbc
                    no cipher 235 # name rijndael-cbc
                exit
                client-mac-list
                    mac 200 name hmac-sha2-512
                    mac 210 name hmac-sha2-256
                    mac 215 name hmac-sha1
                    no mac 220 # name hmac-sha1-96
                    no mac 225 # name hmac-md5
                    no mac 230 # name hmac-ripemd160
                    no mac 235 # name hmac-ripemd160-openssh-com
                    no mac 240 # name hmac-md5-96
                exit
                server-mac-list
                    mac 200 name hmac-sha2-512
                    mac 210 name hmac-sha2-256
                    mac 215 name hmac-sha1
                    no mac 220 # name hmac-sha1-96
                    no mac 225 # name hmac-md5
                    no mac 230 # name hmac-ripemd160
                    no mac 235 # name hmac-ripemd160-openssh-com
                    no mac 240 # name hmac-md5-96
                exit
                preserve-key
            exit
         exit
    exit

exit
exit all
