DEVICE="br0"
IPV6INIT="yes"
NM_CONTROLLED="no"
ONBOOT="yes"
TYPE="Bridge"
{% if mgmt_ip is defined and mgmt_gateway is defined%}
BOOTPROTO="static"
IPADDR="{{ mgmt_ip }}"
GATEWAY="{{ mgmt_gateway }}"
{% if mgmt_prefix is defined %}
PREFIX="{{ mgmt_prefix }}"
{% else %}
NETMASK="{{ mgmt_netmask }}"
{% endif %}
DNS1="{{dns_server_list[0]}}"
{% if dns_server_list[1] is defined %}
DNS2="{{dns_server_list[1]}}"
{% endif %}
{% else %}
BOOTPROTO="dhcp"
{% endif %}
