;
$TTL 3D
@        IN       SOA    {{ dns_data.split('.')[1:]|join('.') }} {{ dns_data.split('.')[1:]|join('.') }}  (
199802151     ; Serial
8H     ; Refresh
2H     ; Retry
4W     ; Expire
1D)     ; Minimum TTL
;

        NS      {{ dns_data.split('.')[1:]|join('.') }}

{% for key, value in dns_data_lookup.items() %}
{{ value.split('.')[3] }}     IN     PTR     {{ key }}
{% endfor %}

