;
$TTL 3D

@        IN      SOA     {{ dns_mgmt.split('.')[1:]|join('.') }} {{ dns_mgmt.split('.')[1:]|join('.') }} (
                       199802151     ; serial, todays date + todays serial #
                       8H     ; refresh, seconds
                       2H     ; retry, seconds
                       4W   ; expire, seconds
                       1D )    ; minimum, seconds
;
                        NS    {{ dns_mgmt.split('.')[0] }}    ; Inet Address of name server
;

localhost       A       127.0.0.1

{% for key, value in dns_mgmt_lookup.items() %}
{{ key.split('.')[0] }}        A        {{value}}
{% endfor %}

